<% activityListAll.forEach((data) => { %>
    <div id="<%=data.ID_PK%>" class="list">
        <a href='./list?idx=<%=data.ID_PK%>'>
            <div class="data activity">
                <div>
                    <div style="font-size: 14px;">
                        <b><%=data.TITLE%>&nbsp[<%=data.COMPLETE%>]</b>&nbsp&nbsp&nbsp
                    </div>
                    <div style="font-size: 12px;">
                        <div><%=data.YEAR%>년도 <%=data.SEMESTER%>학기</div>
                    </div>
                </div>
            </div>
        </a>
    </div> 
<% }) %>