<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/main.css" type="text/css" />
    <title>Admin:Member - #Include</title>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <%- include ('../header.ejs') %>
        </header>
        <div id="container">
            <div id="container-wrapper">
                <div id="page-header">
                    <h1 id="page-title">ë©¤ë²„ ì •ë³´</h1>
                </div>
                <div id="page-content">
                    <div id="dataarea-wrapper">
                        <div class="data member detail">
                            <div>
                                <b><%=memberDetail.studentID%>&nbsp<%=memberDetail.name%></b></div>
                            <div>
                                ðŸŽ“
                            </div>
                            <div>
                                <%=memberDetail.first_track%> | <%=memberDetail.second_track%>
                            </div>
                            <div>
                                Github ì£¼ì†Œ<br><%=memberDetail.git_hub%>
                            </div>
                            <div>
                                Email<br><%=memberDetail.email%>
                            </div>
                        </div>
                    </div>
                    <div class="buttonrow">
                        <input type="button" value="ìˆ˜ì •" onclick="location.href='./post?type=update&idx=<%=memberDetail.ID_PK%>'">
                        <form method="post" action="/member/<%=memberDetail.ID_PK%>?_method=delete">
                            <input type="submit" value="ì‚­ì œ">
                        </form>
                        <input type="button" value="ëª©ë¡" onclick="location.href='./list'">
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <%- include ('../footer.ejs') %>
        </footer>
    </div>
</body>
</html>