<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/main.css" type="text/css" />
    <title>Admin:Member - #Include</title>
    <script>
        
        // function yeardropdown() {
        //     let year = document.getElementsByClassName("year");
        //     let curyear = new Date().getFullYear();
        //     for (let i=curyear; i>=1970; i--) {
        //         year[0].insertAdjacentHTML("afterbegin", "<option value='"+i+"''>"+i+"</option>");
        //         year[1].insertAdjacentHTML("afterbegin", "<option value='"+i+"''>"+i+"</option>");
        //     }
        // }
    </script>
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <%- include ('../header.ejs') %>
        </header>
        <div id="container">
            <div id="container-wrapper">
                <div id="page-header">
                    <h1 id="page-title">멤버 정보</h1>
                </div>
                <div id="post" class="form">
                    <div id="post-wrapper">
                    <% let disabled = ""; %>
                    <% if (type === 'create') { %>
                        <form id="postform" method="post" action="/member/post?type=create">
                    <% } else if (type === 'update') { %>
                        <% disabled = "disabled"; %>
                        <form id="postform" method="post" action="/member/post?type=update&idx=<%=memberDetail.ID_PK%>">
                            <input type="hidden" name="_method" value="put"/>
                    <% } %>
                            <div id="post-container">
                                <div id="post-ID">
                                    <div class="heading">*학번/이름</div>
                                    <div class="input">
                                        <div>
                                            <input name="studentID" type="text" placeholder="학번" value="<%=memberDetail.studentID%>" <%=disabled%> />
                                            &nbsp;
                                            <input name="name" type="text" placeholder="이름" value="<%=memberDetail.name%>"/>
                                        </div>
                                    </div>
                                </div>
                                <div id="post-season">
                                    <div class="heading">*활동 시기</div>
                                    <div class="input">
                                        <!-- <div class="wrap">
                                            <div class="nowrap">
                                                <select name="join-year" class="year">
                                                </select>
                                                년도&nbsp;
                                                <select name="join-semester" class="semester">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                                학기
                                            </div>
                                            <div class="nowrap">
                                                &nbsp;~&nbsp;
                                                <select name="leave-year" class="year"></select>
                                                년도&nbsp;
                                                <select name="leave-semester"  class="semester">
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                </select>
                                                학기
                                            </div>
                                            <script>
                                                yeardropdown();
                                            </script>
                                        </div> -->
                                        <div>
                                            <input name="graduation" type="checkbox" value="1"/>졸업
                                        </div>
                                    </div>
                                </div>
                                <div id="post-track">
                                    <div class="heading">*트랙</div>
                                    <div class="input">
                                        <div>
                                            <input name="first_track" type="text" placeholder="1트랙" value="<%=memberDetail.first_track%>"/>
                                            &nbsp;
                                            <input name="second_track" type="text" placeholder="2트랙" value="<%=memberDetail.second_track%>"/>
                                        </div>
                                    </div>
                                </div>
                                <div id="post-github">
                                    <div class="heading">Github</div>
                                    <div class="input">
                                        <div>
                                            <input name="git_hub" type="text" placeholder="Github 주소" class="input" value="<%=memberDetail.git_hub%>"/>
                                        </div>
                                    </div>
                                </div>
                                <div id="post-email">
                                    <div class="heading">이메일</div>
                                    <div class="input">
                                        <div>
                                            <input name="email" type="text" placeholder="email 주소" class="input" value="<%=memberDetail.email%>"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="buttonrow">
                                <input type="submit" value="완료" style="float: right;">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            <%- include ('../footer.ejs') %>
        </footer>
    </div>
</body>
<script>
        if (<%=memberDetail.graduation%> == 1) {
            document.getElementsByName("graduation")[0].checked = true;
        }
</script>
</html>